<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/stylesheets/home.css"/>
</head>
<body>
    <div class="gallery1">
        <img src="/images/pusheen1.png" alt="pusheen image">
        <img src="/images/pusheen2.png" alt="pusheen image">
    </div>
        <div class="gallery2">
            <img src="/images/pusheen3.png" alt="pusheen image">
        </div>
        <div class="gallery1">
        <img src="/images/pusheen4.png" alt="pusheen image">
        <img src="/images/pusheen5.png" alt="pusheen image">
    </div>
    <div class="gallery2">
        <img src="/images/pusheen6.png" alt="pusheen image">
    </div>
</body>
</html>