<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/home.css"/>
</head>
<body>
    <div class="home-image">
        <img src="/images/home.png" alt="pusheen image">
    </div>
    <div class="main-style">
        <h1>Welcome to Pusheens love page</h1>
    </div>
    <div class="menu">
        <a href="about">
            <button>About</button>
        </a>

        <a href="gallery">
            <button>Gallery</button>
        </a>
    </div>
</body>
</html>